<div class="PageContent md-whiteframe-z1">
	<md-toolbar class="PageToolbar">
		<div class="md-toolbar-tools">
			<h2>
				<span>Recommended</span>
			</h2>
		</div>
	</md-toolbar>

	<section class="language-markup">
			<pre><code class="line-numbers language-* language-bash">git clone
git@github.com:jadjoubran/laravel5-angular-material-starter.git
cd laravel5-angular-material-starter
cp .env.example .env #create .env file from .env.example. Fix DB credentials & APP_KEY
npm install -g gulp bower
composer update
php artisan jwt:generate
npm install
bower install
gulp && gulp watch
php -S localhost:8081 -t public</code></pre>
	</section>
	<div class="PageText">
		You're ready to go! Open <a href="http://localhost:8081" target="_blank">http://localhost:8081</a> in your
		browser.
	</div>
</div>