<md-content class="Page-Container" ng-controller="LandingCtrl" layout="column" layout-align="start center">

	<md-card>

		<md-toolbar class="PageToolbar">
			<div class="md-toolbar-tools">
				<h2>composer create-project</h2>
			</div>
		</md-toolbar>

		<md-card-content>
		<u>Heads up for Windows + Vagrant users:</u> Start by applying the fix in <a href="https://github.com/jadjoubran/laravel5-angular-material-starter/issues/61#issuecomment-145564131" target="_blank">issue #61</a>
		</md-card-content>

		<md-card-content class="language-markup"><pre><code class="line-numbers language-* language-bash">
composer create-project jadjoubran/laravel5-angular-material-starter --prefer-dist
cd laravel5-angular-material-starter
#fix database credentials in .env
npm install -g gulp bower
npm install
bower install
gulp && gulp watch
php artisan serve</code></pre>
		</md-card-content>

		<md-card-content>
			<p>
				You're ready to go! Open <a href="http://localhost:8000" target="_blank">http://localhost:8000</a> in your browser.
			</p>
		</md-card-content>

	</md-card>

</md-content>
