<md-content class="Page-Container DemoHeader">
	<div layout="row">
		<div flex="90" flex-offset="5" class="DemoHeader-container">
			<div layout="row" layout-align="space-between">
				<img src="img/icons/logo.svg" ui-sref="app.landing" class="DemoHeader-logo"/>
				<div layout="row" layout-align="center stretch">
					<a hide-xs class="DemoHeader-link md-subhead" href="https://laravel-angular.readme.io" target="_blank">Docs</a>
					<a hide-xs class="DemoHeader-link md-subhead" href="https://www.youtube.com/watch?list=PLIiQ4B5FSupiQYLX6kERPV0OhMC7tTbBE&v=_ZWV9KBK2N8" target="_blank">Screencasts</a>
					<a hide-xs class="DemoHeader-link md-subhead" href="https://github.com/jadjoubran/laravel5-angular-material-starter" target="_blank">Github</a>
					<iframe class="DemoHeader-github" src="https://ghbtns.com/github-btn.html?user=jadjoubran&repo=laravel5-angular-material-starter&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
				</div>
			</div>
		</div>
	</div>
</md-content>
<div class="DemoHeader-spacer"></div>
