<md-content class="Page-Container" ng-controller="MiscCtrl" layout="column" layout-align="start center">

    <md-card>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Debugbar</h2>
            </div>
        </md-toolbar>

        <img src="https://cloud.githubusercontent.com/assets/973269/4270452/740c8c8c-3ccb-11e4-8d9a-5a9e64f19351.png" width="100%" alt="Debugbar screenshot">
        <md-card-content>
            <p>
                <a href="https://github.com/barryvdh/laravel-debugbar" target="_blank">Debugbar</a> allows you to easily debug your app.
            </p>
            <p>
                You can debug pretty much everything: queries, routes, messages, mails, views, etc..
            </p>
        </md-card-content>

    </md-card>

    <md-card>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Angular Loading Bar</h2>
            </div>
        </md-toolbar>

        <md-card-content>
            <p>
                <a href="http://chieffancypants.github.io/angular-loading-bar/" target="_blank">Angular Loading Bar</a> is that loading bar that you see on top when you navigate between routes.
            </p>
        </md-card-content>

    </md-card>

    <md-card>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Angular Filters</h2>
            </div>
        </md-toolbar>

        <md-card-content>
            <p>
                Laravel5-angular-material-starter comes with some useful angular filters:
            </p>
            <ul>
                <li><a href="https://github.com/jadjoubran/laravel5-angular-material-starter/blob/master/angular/filters/capitalize.js" target="_blank">Capitalize</a></li>
                <li><a href="https://github.com/jadjoubran/laravel5-angular-material-starter/blob/master/angular/filters/human_readable.js" target="_blank">humanReadable</a></li>
                <li><a href="https://github.com/jadjoubran/laravel5-angular-material-starter/blob/master/angular/filters/trust_html.js" target="_blank">trust_html</a></li>
                <li><a href="https://github.com/jadjoubran/laravel5-angular-material-starter/blob/master/angular/filters/ucfirst.js" target="_blank">ucfirst</a></li>
            </ul>
        </md-card-content>

    </md-card>

</md-content>