.Dashboard-Container li {
  line-height: 26px;
}

.Footer-Container {
  background-color: #ececec;
  padding: 30px;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.Landing-Container {
  max-width: 500px;
  margin: 0 auto 0 auto;
}
.Landing-CallToAction {
  text-align: center;
}
.Landing-flex {
  min-height: 50px;
  padding: 5px;
  color: white;
}
.Landing-flex33 {
  background-color: #009688;
}
.Landing-flex55 {
  background-color: #3949ab;
}
.Landing-flexRemaining {
  background-color: #9c27b0;
}

.Dashboard-Container li {
  line-height: 26px;
}

.Footer-Container {
  background-color: #ececec;
  padding: 30px;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.Landing-Container {
  max-width: 500px;
  margin: 0 auto 0 auto;
}
.Landing-CallToAction {
  text-align: center;
}
.Landing-flex {
  min-height: 50px;
  padding: 5px;
  color: white;
}
.Landing-flex33 {
  background-color: #009688;
}
.Landing-flex55 {
  background-color: #3949ab;
}
.Landing-flexRemaining {
  background-color: #9c27b0;
}
