<div class="ResetPassword-loader" layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate" ng-if="!vm.isValidToken"></md-progress-circular>
</div>

<form ng-submit="vm.submit()" ng-show="vm.isValidToken">
    <div>
        <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="vm.password">
        </md-input-container>
    </div>

    <div>
        <md-input-container>
            <label>Confirm Password</label>
            <input type="password" ng-model="vm.password_confirmation">
        </md-input-container>
    </div>

    <md-button type="submit" class="md-primary md-raised">Submit</md-button>
</form>
