@import "../../material/project";

.Footer{
    text-align: center;
    background-color: lighten(@light-gray, 25%);
    padding-top: 30px;
    padding-bottom: 30px;
}

.Footer-link{
    text-decoration: none;
    color: @navy;
}
