@import "../../material/project";

.Footer{
    text-align: center;
    background-color: @background;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Footer-text{
    opacity: 0.6;
    color: @grey;
}

.Footer-link{
    text-decoration: none;
    color: @grey;
}
