<md-list>
	<div ui-sref-active="active" ui-sref="app.landing" class="Sidebar-page">
		<md-list-item md-ink-ripple>Overview</md-list-item>
	</div>
	<div ui-sref-active="active" ui-sref="app.install" class="Sidebar-page">
		<md-list-item md-ink-ripple>Install</md-list-item>
	</div>
	<div ui-sref-active="active" ui-sref="app.tabs" class="Sidebar-page">
		<md-list-item md-ink-ripple>Features</md-list-item>
	</div>
	<div ui-sref-active="active" ui-sref="app.deploy" class="Sidebar-page">
		<md-list-item md-ink-ripple>Deploy</md-list-item>
	</div>
	<div ui-sref-active="active" ui-sref="app.theme" class="Sidebar-page">
		<md-list-item md-ink-ripple>Theme</md-list-item>
	</div>
	<div ui-sref-active="active" ui-sref="app.generators" class="Sidebar-page">
		<md-list-item md-ink-ripple>Generators</md-list-item>
	</div>
	<div ui-sref-active="active" ui-sref="app.jwt_auth" class="Sidebar-page">
		<md-list-item md-ink-ripple>JWT Auth</md-list-item>
	</div>
	<div ui-sref-active="active" ui-sref="app.toasts" class="Sidebar-page">
		<md-list-item md-ink-ripple>Toasts</md-list-item>
	</div>
	<div ui-sref-active="active" ui-sref="app.dialogs" class="Sidebar-page">
		<md-list-item md-ink-ripple>Dialogs</md-list-item>
	</div>
	<div ui-sref-active="active" ui-sref="app.elixir" class="Sidebar-page">
		<md-list-item md-ink-ripple>Elixir</md-list-item>
	</div>
	<div ui-sref-active="active" ui-sref="app.rest_api" class="Sidebar-page">
		<md-list-item md-ink-ripple>REST API</md-list-item>
	</div>
	<div ui-sref-active="active" ui-sref="app.unsupported_browser" class="Sidebar-page">
		<md-list-item md-ink-ripple>Unsupported Browser</md-list-item>
	</div>
	<div ui-sref-active="active" ui-sref="app.misc" class="Sidebar-page">
		<md-list-item md-ink-ripple>Miscellaneous Features</md-list-item>
	</div>
</md-list>