<md-content class="Page-Container" ng-controller="RestApiCtrl" layout="column" layout-align="start center">

	    <md-card>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>dingo/API</h2>
            </div>
        </md-toolbar>

        <md-card-content class="language-markup"><pre><code class="line-numbers language-* language-javascript">
$api->version('v1', function ($api) {
    $api->get('data', 'App\Http\Controllers\WelcomeController@getSample');
});</code></pre>
        </md-card-content>

        <md-card-content>
            <p>
                <a href="https://github.com/dingo/api" target="_blank">dingo/api</a> package is meant to provide you, with a set of tools to help you easily and quickly build your own API. dingo/api works out of the box in Laravel angular material starter.<br>
                Feel free to check their <a href="https://github.com/dingo/api/wiki" target="_blank">wiki</a> to customize it.
                dingo/api is configured to work harmoniously with <a ui-sref="app.jwt_auth">JWT-auth</a>.
            </p>
        </md-card-content>

    </md-card>

    <md-card>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Restangular</h2>
            </div>
        </md-toolbar>

        <md-card-content class="language-markup"><pre><code class="line-numbers language-* language-javascript">
Restangular.all('data').doGET().then(function(response){
    console.log(response.data);
});</code></pre>
        </md-card-content>

        <md-card-content>
            <p>
                <a href="https://github.com/mgonto/restangular" target="_blank">Restangular</a> is an AngularJS service to handle Rest API Restful Resources properly and easily.
            </p>
        </md-card-content>

    </md-card>

    <md-card>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>API Response Macro</h2>
            </div>
        </md-toolbar>

        <md-card-content class="language-markup"><pre><code class="line-numbers language-* language-php">
//return your data using the api response macro
return response()->api($data);</code></pre>
        </md-card-content>

        <md-card-content>
            <p>
                <a href="https://github.com/jadjoubran/laravel5-angular-material-starter/blob/master/app/Providers/ResponseMacroServiceProvider.php" target="_blank">ResponseMacroServiceProvider</a> returns your data inside the <strong>data</strong> object.<br>
            </p>
            <p>
                You can customize it to include other properties.
            </p>
            <p>
            <p>
                Also route versioning and Accept header are configured for you in <a href="https://github.com/jadjoubran/laravel5-angular-material-starter/blob/master/angular/config/restangular.js" target="_blank">angular/config/restangular.js</a>, to match with Dingo/API.
            </p>
        </md-card-content>

    </md-card>

</md-content>
