<md-content class="Page-Container" layout="column" layout-align="start center">

    <md-card>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>artisan ng:* generators</h2>
            </div>
        </md-toolbar>

        <md-card-content class="language-markup"><pre><code class="line-numbers language-* language-bash">
artisan ng:feature name    #New feature inside angular/app/
artisan ng:dialog name     #New custom dialog inside angular/dialogs/
artisan ng:directive name  #New directive inside angular/directives/
artisan ng:service name    #New service inside angular/services/
artisan ng:filter name     #New filter inside angular/filters/
artisan ng:config name     #New config inside angular/config/</code></pre>
        </md-card-content>

        <md-card-content>
            <p>
                Do <strong>not</strong> append the words Service, Controller or Ctrl.
            </p>
            <p>
                They will be automatically created according to the <a href="laravel.com/docs/5.1/helpers#method-studly-case" target="_blank">StudlyCase</a> of the name you entered.
            </p>
            <p>
                Use the <a href="laravel.com/docs/5.1/helpers#method-snake-case" target="_blank">snake_case</a> for more than 1 word: add_users, add_items, edit_data
            </p>
        </md-card-content>

    </md-card>

</md-content>