<md-content class="Page-Container" ng-controller="JwtAuthCtrl" layout="column" layout-align="start center">

	<md-card>

		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>How it works</h2>
			</div>
		</md-toolbar>

		<md-card-content ng-show="step === 1">
			In order to explain how Json Web Token authentication works, let's go through this interactive tutorial:<br/>
			<br/>
			Take a look at the existing routes.php file and then click on this button which calls the code below:<br/>
			<br/>
			<md-button class="md-primary md-raised" ng-click="requestToken()">Request protected route</md-button>
			<md-card-content class="language-angular"><pre><code class="line-numbers language-* language-javascript">API.all('sample').get('protected');</code></pre></md-card-content>
			<br/>
			<md-button class="md-accent md-raised" ng-click="nextStep()">Next</md-button>
		</md-card-content>
	</md-card-content>
	<md-card-content ng-show="step === 2">
		Since we can't access this route without being authenticated, we need to login:<br/>
		<br/>
		<md-card-content class="language-angular"><pre><code class="line-numbers language-* language-javascript">API.all('users/login').post($scope.user);</code></pre>
		<br/>
		If you're running this locally, then you need to make sure that you have your database & database connection setup. Also make sure to run <em>php artisan db:seed</em><br/>
		<br/>
		<md-button class="md-primary md-raised" ng-click="login()">Login & Store Token</md-button>
	</md-card-content>
</md-card-content>
<md-card-content ng-show="step === 3">
	We're logged in! And the API replied with a Token. A JWT to be specific.<br/>
	We need to store it in localStorage so that we can use it later on.<br/>
	<br/>
	<md-card-content class="language-angular"><pre><code class="line-numbers language-* language-angular">$localStorage.jwt = response.data.token;</code></pre>
	<br/>
	We already stored it for you in the success callback of the Login method.<br/>
	Now we need to send the following header in all subsequent requests, so that we can tell the server that we're logged in:<br/>
	<br/>
	<md-card-content><pre><code class="line-numbers language-*">Authorization: Bearer {jwt}</code></pre></md-card-content>
	<br/>
	We're already doing this for you in angular/services/API.js: addFullRequestInterceptor.<br/>
	All you have to do now, is request the protected route:<br/>
	<md-card-content class="language-angular"><pre><code class="line-numbers language-* language-javascript">API.all('sample').get('protected');</code></pre></md-card-content>
    <md-button class="md-primary md-raised" ng-click="requestToken()">Request protected route</md-button>
</md-card-content>
</md-card-content>
<md-divider></md-divider>
<md-card-content>
	API Output: <span ng-style="outputStatus" style="word-wrap: break-word;">{{output}}</span>
</md-card-content>
<md-divider></md-divider>
<md-card-content>
	$localStorage.jwt: <span style="word-wrap: break-word;">{{$localStorage.jwt}}</span>
	<br/>
	<md-button ng-if="$localStorage.jwt && step === 1" ng-click="$localStorage.$reset()">Clear localstorage</md-button>
</md-card-content>

</md-card>

</md-content>
