<md-content class="Page-Container" ng-controller="ElixirCtrl" layout="column" layout-align="start center">

    <md-card>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Elixir 3.0 Configuration</h2>
            </div>
        </md-toolbar>

        <md-card-content>
            <p>
                Elixir 3.0 has been configured to generate the following:
            </p>
            <ul>
                <li><strong>public/js/vendor.js</strong> from your <strong>bower.json</strong>. Always append <strong>--save</strong> to your bower install commands.</li>
                <li><strong>public/js/app.js</strong> from your javascript files. They are automatically annotated using <a href="https://github.com/olov/ng-annotate" target="_blank">ng-annotate</a>.</li>
                <li><strong>public/css/vendor.css</strong> from your <strong>bower.json</strong>. Always append <strong>--save</strong> to your bower install commands.</li>
                <li><strong>public/css/app.css</strong> from your less files. You can easily switch to sass if you'd like to.</li>
                <li>Views are automatically copied for you.</li>
                <li>Livereload is also automatically configured.
                    <ul>
                        <li>It re-injects the css files whenever they change</li>
                        <li>It reloads the page when your javascript or views change</li>
                    </ul>
                </li>
            </ul>
            <p>
                You can also create new elixir tasks inside the /tasks folder. Just like the <a href="https://github.com/jadjoubran/laravel5-angular-material-starter/blob/master/tasks/bower.task.js" target="_blank">bower</a> and <a href="https://github.com/jadjoubran/laravel5-angular-material-starter/blob/master/tasks/angular.task.js" target="_blank">angular</a> tasks.
            </p>
        </md-card-content>

    </md-card>

</md-content>

