body{
  background: #f2f2f2;
}

.Page{
	background: transparent;
}

.PageToolbar{
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.PageContent{
	border-radius: 3px;
    margin: 8px;
    background: white;
}

.PageText{
	padding: 20px;
    line-height: 27px;
}

pre[class*="language-"]{
	border-radius: 0 !important;
}
