body{
	padding-bottom: 0 !important;
}

.Page{
	left: 290px;
	top: 100px;
	right: 40px;
	/*to prevent flickering during animation*/
	position: absolute;
}

.PageToolbar{
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.PageContent{
	border-radius: 3px;
}

.PageText{
	padding: 20px;
    line-height: 27px;
}

pre[class*="language-"]{
	border-radius: 0 !important;
}
