<md-content class="Page-Container" ng-controller="ToastsCtrl" layout="column" layout-align="start center">

    <md-card>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>ToastService</h2>
            </div>
        </md-toolbar>

        <md-card-content class="language-markup"><pre><code class="line-numbers language-* language-javascript">
//info
ToastService.show('This is a toast notification!');

//error
ToastService.error('Connection interrupted!');</code></pre>
        </md-card-content>

        <md-card-content>
            <p>
                <a href="https://github.com/jadjoubran/laravel5-angular-material-starter/blob/master/angular/services/toast.js" target="_blank">ToastService</a>
                can be extended to suit your needs.
            </p>
            <div layout="row" layout-align="start center">
                <md-button ng-click="toastSuccess()">Add User (success)</md-button>
                <md-button ng-click="toastError()">Load Data (error)</md-button>
            </div>
        </md-card-content>

    </md-card>

</md-content>