.Landing-CallToAction {
  text-align: center;
}

.Landing-flex {
  min-height: 50px;
  padding: 5px;
  color: white;
}

.Landing-flex33 {
  background-color: #009688;
}

.Landing-flex55 {
  background-color: #3949ab;
}

.Landing-flexRemaining {
  background-color: #9c27b0;
}

.Landing-demoIcon {
  fill: rgb(0, 150, 136);
  position: relative;
  top: 4px;
  left: 5px;
}
