<div class="PageContent md-whiteframe-z1">
	<md-toolbar class="PageToolbar">
		<div class="md-toolbar-tools">
			<h2>
				<span>theme.js</span>
			</h2>
		</div>
	</md-toolbar>

	<section class="language-markup">
			<pre><code class="line-numbers language-* language-javascript">(function(){
"use strict";

angular.module('app.config').config( function($mdThemingProvider) {
	/* For more info, visit https://material.angularjs.org/#/Theming/01_introduction */
	$mdThemingProvider.theme('default')
	.primaryPalette('indigo')
	.accentPalette('grey')
	.warnPalette('red');
});

})();</code></pre>
	</section>
	<div  class="PageText">
		<a href="https://github.com/jadjoubran/laravel5-angular-material-starter/blob/master/angular/config/theme.js" target="_blank">angular/config/theme.js</a>
		is where you can change your theme.<br>
		Visit <a href="https://material.angularjs.org/#/Theming/01_introduction" target="_blank">https://material.angularjs.org/#/Theming/01_introduction</a> for more information.
	</div>
</div>