<div class="Landing-Container" ng-controller="LandingCtrl">
	<br>
	<br>
	<md-card>
	<img ng-src="{{promoImage}}" class="md-card-image" alt="Laravel 5 Angular material starter">
	<md-card-content>
	<h2 class="md-title">Landing page</h2>
	<p>
		This is a starter project that gives you an out of the box configuration for Laravel5 and Angular.<br>
		<br>
		It also featuers other useful libraries that you can check out in the <strong>Readme.md</strong>.<br>
	</p>
</md-card-content>
<div class="md-actions" layout="row" layout-align="end center">
	<md-button ng-click="showDialog()">Alert Dialog</md-button>
	<md-button ng-click="toastNotification()">Toast Notification</md-button>
</div>
</md-card>
<br>
<div class="Landing-CallToAction">
	<md-button ui-sref="dashboard" class="md-raised md-primary">Show me the Dashboard!</md-button>
</div>
</div>